body {
    font-size: 16px;
    font-style: italic;

}
.Joke {
    width: 600px;
    padding: 5px;
    text-align: center;
    border: 2px solid #cccccc;
    box-shadow: 0 2px 3px #ccc;
    margin: 10px;
    box-sizing: border-box;
}

.Joke:hover,
.Joke:active {
    background-color: #eee;
}

.joke {
    margin: 20px 0;
    color: #282c34;
}